* {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  header {
    background-image: url("../pattern.jpeg");
    height: 118px;
    margin: 40px 0;
    width: 1290px;
  }
  h1 {
    color: SeaGreen;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    margin: 0 auto;
    border: 3px solid black;
  }
  h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 0;
    border-bottom: 3px solid black;
  }
  h3 {
    text-align: center;
  }
  p {
    font-size: 12px;
    height: 50px;
    text-align: center;
    margin: 10px 10px;
  }
  .brushes {
    background-color: mediumspringgreen;
  }
  .frames {
    background-color: lightcoral;
  }
  .paint {
    background-color: skyblue;
  }
  section {
    display: inline-block;
    width: 400px;
    height: 500px;
    margin: 0 auto;
    margin: 0 10px;
    border: 3px solid black;
    margin-top: 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  button {
  cursor: pointer;
  text-align: center;
  padding: 10px 20px;
  color:blue;
  font-weight: bold;
  background-color: white;
  position: relative;
  display: block;
  margin: 0 auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  
  }
  .container {
    display: block;
    height: 500px;
  }
  @media screen and (max-width: 1200px) {
    h1 {
      font-size: 40px;
    }
    header {
      height: 51px;
      width: 850px;
    }
  }
  @media screen and (max-width: 700px) {
    h1 {
      font-size: 24px;
    }
    header {
      height: 32px;
      width: 420px;
    }
  }
